h1{
    font-size: 160%;
}

div.cover-photo-holder img {
  width: 300px;
  height: 300px;
  margin: 10px;
  float: right;
}

.recipe {
  background-color: rgb(236, 241, 215);
  float: left;
  width: 97%;
  margin: 10px;
  max-width: 1000px;
}

.dark_background {
  float: left;
  width: 97%;
  margin: 10px;
  max-width: 500px;
  background-color: rgb(238, 241, 245);
}

.ingredients {

  float:left;
  background-color: #f2d7ea;

}

.instructions {
  float: right;
  background-color: #e4d7f2;
}

.data_title {
  float:none;
  margin: 10px;
  font-weight: bold;
}

.data_title span{
  margin: 10px;
  font-weight: normal;
}

@media (min-width: 1024px) {
  .recipe {
    width: 500px;
    margin: 10px;
  }
  .dark_background {
    width: 500px;
    margin: 10px;
  }
}
